<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Classes</key>
	<array>
		<string>NSActionCell</string>
		<string>NSAlert</string>
		<string>NSAnimation</string>
		<string>NSApplication</string>
		<string>NSArrayController</string>
		<string>NSATSTypesetter</string>
		<string>NSBezierPath</string>
		<string>NSBitmapImageRep</string>
		<string>NSBox</string>
		<string>NSBrowser</string>
		<string>NSBrowserCell</string>
		<string>NSButton</string>
		<string>NSButtonCell</string>
		<string>NSCachedImageRep</string>
		<string>NSCell</string>
		<string>NSCIImageRep</string>
		<string>NSClipView</string>
		<string>NSColor</string>
		<string>NSColorList</string>
		<string>NSColorPanel</string>
		<string>NSColorPicker</string>
		<string>NSColorSpace</string>
		<string>NSColorWell</string>
		<string>NSComboBox</string>
		<string>NSComboBoxCell</string>
		<string>NSControl</string>
		<string>NSController</string>
		<string>NSCursor</string>
		<string>NSCustomImageRep</string>
		<string>NSDatePicker</string>
		<string>NSDatePickerCell</string>
		<string>NSDocument</string>
		<string>NSDocumentController</string>
		<string>NSDrawer</string>
		<string>NSEPSImageRep</string>
		<string>NSEvent</string>
		<string>NSFileWrapper</string>
		<string>NSFont</string>
		<string>NSFontDescriptor</string>
		<string>NSFontManager</string>
		<string>NSFontPanel</string>
		<string>NSForm</string>
		<string>NSFormCell</string>
		<string>NSGlyphGenerator</string>
		<string>NSGlyphInfo</string>
		<string>NSGraphicsContext</string>
		<string>NSHelpManager</string>
		<string>NSImage</string>
		<string>NSImageCell</string>
		<string>NSImageRep</string>
		<string>NSImageView</string>
		<string>NSInputManager</string>
		<string>NSInputServer</string>
		<string>NSLayoutManager</string>
		<string>NSLevelIndicator</string>
		<string>NSLevelIndicatorCell</string>
		<string>NSMatrix</string>
		<string>NSMenu</string>
		<string>NSMenuItem</string>
		<string>NSMenuItemCell</string>
		<string>NSMenuView</string>
		<string>NSMovie</string>
		<string>NSMovieView</string>
		<string>NSMutableParagraphStyle</string>
		<string>NSNib</string>
		<string>NSNibConnector</string>
		<string>NSNibControlConnector</string>
		<string>NSNibOutletConnector</string>
		<string>NSObjectController</string>
		<string>NSOpenGLContext</string>
		<string>NSOpenGLPixelBuffer</string>
		<string>NSOpenGLPixelFormat</string>
		<string>NSOpenGLView</string>
		<string>NSOpenPanel</string>
		<string>NSOutlineView</string>
		<string>NSPageLayout</string>
		<string>NSPanel</string>
		<string>NSParagraphStyle</string>
		<string>NSPasteboard</string>
		<string>NSPDFImageRep</string>
		<string>NSPersistentDocument</string>
		<string>NSPICTImageRep</string>
		<string>NSPopUpButton</string>
		<string>NSPopUpButtonCell</string>
		<string>NSPrinter</string>
		<string>NSPrintInfo</string>
		<string>NSPrintOperation</string>
		<string>NSPrintPanel</string>
		<string>NSProgressIndicator</string>
		<string>NSQuickDrawView</string>
		<string>NSResponder</string>
		<string>NSRulerMarker</string>
		<string>NSRulerView</string>
		<string>NSSavePanel</string>
		<string>NSScreen</string>
		<string>NSScroller</string>
		<string>NSScrollView</string>
		<string>NSSearchField</string>
		<string>NSSearchFieldCell</string>
		<string>NSSecureTextField</string>
		<string>NSSecureTextFieldCell</string>
		<string>NSSegmentedCell</string>
		<string>NSSegmentedControl</string>
		<string>NSShadow</string>
		<string>NSSimpleHorizontalTypesetter</string>
		<string>NSSlider</string>
		<string>NSSliderCell</string>
		<string>NSSound</string>
		<string>NSSpeechRecognizer</string>
		<string>NSSpeechSynthesizer</string>
		<string>NSSpellChecker</string>
		<string>NSSplitView</string>
		<string>NSStatusBar</string>
		<string>NSStatusItem</string>
		<string>NSStepper</string>
		<string>NSStepperCell</string>
		<string>NSTableColumn</string>
		<string>NSTableHeaderCell</string>
		<string>NSTableHeaderView</string>
		<string>NSTableView</string>
		<string>NSTabView</string>
		<string>NSTabViewItem</string>
		<string>NSText</string>
		<string>NSTextAttachment</string>
		<string>NSTextAttachmentCell</string>
		<string>NSTextBlock</string>
		<string>NSTextContainer</string>
		<string>NSTextField</string>
		<string>NSTextFieldCell</string>
		<string>NSTextList</string>
		<string>NSTextStorage</string>
		<string>NSTextTab</string>
		<string>NSTextTable</string>
		<string>NSTextTableBlock</string>
		<string>NSTextView</string>
		<string>NSTokenField</string>
		<string>NSTokenFieldCell</string>
		<string>NSToolbar</string>
		<string>NSToolbarItem</string>
		<string>NSTreeController</string>
		<string>NSTypesetter</string>
		<string>NSUserDefaultsController</string>
		<string>NSView</string>
		<string>NSViewAnimation</string>
		<string>NSWindow</string>
		<string>NSWindowController</string>
		<string>NSWorkspace</string>
	</array>
	<key>ScriptingInfoClass</key>
	<string>STAppKitModule</string>
</dict>
</plist>
